#search-result{
    height: auto;
    box-shadow: 0px 1px 3px #111;
    background-color: #fff;
    width: 100%;
}
.header_search{
    background-color: #f6f7f9;
    padding: 0px 10px;
    height: 25px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
#search-result ul li{
    height: 50px;
}
#search-result ul li:hover{
    background-color: #428bca;
}
#search-result ul li p{
    padding-top: 10px;
    padding-left: 26px;
    color: #4d90fe;
}
#search-result ul li:hover p{
    color: #fff !important;
}
.img-register{
    width: 16px;
    height: 16px; 
}
.img-login{
    width: 16px;
    height: 16px; 
}
